/*
#fbf3ed - bg 
221206 - logo fonts
814519 hover
2f1909 span

*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap);
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}
body{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 1.30vmax;

}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #fbf3ed;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #221206;
    border-radius: 50%;
    color: #fbf3ed;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 700;
    color: #221206;
}
nav .togglebtn{
    width: 25px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #221206;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    list-style-type: none;
    font-size: larger;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
    color: #221206;
    margin-right: 2.5rem;
}
nav .navlinks li a:hover{
    color: #814519;

}

/*responsive design &displaying for small screen*/
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;    
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child
    {
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #fbf3ed;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;        
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}
@media all (max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
   
}
/*
textarea{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #f2d3bc;
    margin-bottom: 20px;
    padding: 13px;
    width: 450px;
    height: 200px;
    border-radius: 3px;
    margin: 30px 0 0 100px;
}
.form-control:focus{
    outline: none;
}
.btn:focus{
    outline: none;
}*/

@media screen and (orientation: landscape) {
    col::after {
      content: "Landscape";
    }
  }
  
  @media screen and (orientation: portrait) {
    col::after {
      content: "Portrait";
    }
  }
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    
}

.btn{
    align-items: center;
    cursor: pointer;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    color: #fbf3ed;
    background-color: #221206;
    padding: 13px;
    width: 200px;
    margin: 30px 0 0 900px;
   
    
}
.btn:hover{
    background-color: #814519;
}
input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-width: thick;
    background-color: #fbf3ed;
    padding: 13px;
    width: 450px;
    margin: 30px 0 0 900px;
   
}


textarea{
    border-width: thick;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #fbf3ed;
    padding: 13px;
    width: 448px;
    height: 52px;
    margin: 30px 0 0 900px;
    
}
.form-control:focus{
    outline: none;
}
.btn:focus{
    outline: none;
}
.hero-text h1{
    color: #221206;
    font-size: 14px;
}
h1{
    margin: 30px 0 0 1050px;
}


